<!DOCTYPE html>
<html lang="en" ng-app="faceX">

<head>
  <meta charset="UTF-8">
  <title>MemeMoji</title>

  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/site.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>

  <script type="text/javascript" src="app.js"></script>
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <ul ng-hide="nav" class="nav navbar-nav">
        <li class="pull-left">
          <a href="/">
            <img class="supersmall" src="graphics/little-white-brain.svg">
          </a>
        </li>
        <li class="logonav med">MemeMoji</li>
      </ul>
    </div>
  </nav>

  <div class="div" ng-show="nav">
    <main>
      <h1 class="logo big text-center">MemeMoji</h1>
      <img src="img/brain.svg" class="logo-big img-responsive center-block">
    </main>
  </div>

  <!-- ******************* -->
  <!-- INITIAL NAV BUTTONS -->
  <!-- ******************* -->

  <div ng-init="nav=true" ng-show="nav">
    <div class="bc">
      <div ng-init="useURL=false" ng-click="useURL=true; nav=false">
        <img class="navbutton" src="img/url_button.svg">
        <p>URL</p>
      </div>
      <div ng-init="useWebCam=false" ng-click="useWebCam=true; nav=false">
        <img class="navbutton" src="img/webcam_button.svg">
        <p>WEBCAM</p>
      </div>
      <div ng-init="useUpload=false" ng-click="useUpload=true; nav=false">
        <img class="navbutton" src="img/upload_button.svg">
        <p>UPLOAD</p>
      </div>
    </div>
  </div>

  <!-- ********** -->
  <!-- USE UPLOAD -->
  <!-- ********** -->

  <div ng-if="useUpload" ng-controller="useUpload as p">
    <main class="display full-height">
      <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form ng-submit="p.submit()">
            <div class="form-group">
              <label>
                Choose Photo: <img id="preview" class="preview">
              </label>
              <input class="form-control" type="file" onChange="previewFile()" id="getImage">
            </div>
            <input class="btn btn-default" type="submit">
          </form>
        </div>
      </div>
    </main>
  </div>

  <!-- ******* -->
  <!-- USE URL -->
  <!-- ******* -->

  <div ng-if="useURL" ng-controller="useURL as u">
    <main>
      <div class="display full-height">
            <form class="col-md-4" name="sendURL" ng-submit="u.submit()">
              <div class="form-group" ng-class="{'has-error': sendURL.url.$invalid && !sendURL.url.$pristine, 'has-success': sendURL.url.$valid}">

                <label class="control-label" for="url">Image URL: </label>
                <input class="form-control" type="url" id="url" name="url" ng-model="u.url" required>

                <div ng-messages="sendURL.url.$error" ng-show="sendURL.url.$touched">

                  <p class="help-block" ng-message="required">Please enter an image URL</p>
                  <p class="help-block" ng-message="url">Please enter a valid URL</p>

                </div>
              </div>
              <input class="btn" ng-class="{'btn-default': sendURL.url.$pristine, 'btn-danger': !sendURL.url.$valid && !sendURL.url.$pristine, 'btn-success': sendURL.url.$valid}" type="submit">
            </form>
      </div>
    </main>
  </div>

  <!-- ******* -->
  <!--  WEBCAM -->
  <!-- ******* -->

  <div ng-if="useWebCam" ng-controller="useWebCam as w">
    <main>
      <video ng-show="w.showVideo" id="video" class="center-block vid" autoplay></video>
      <div ng-show="w.waiting">
        <h1 class="text-center blue">Loading Results...</h1>
        <img class="center-block" src="img/gif/brain.gif">
      </div>
      <canvas class="center-block vid" ng-show="w.showCanvas"></canvas>
    </main>
    <div class="bc">
      <div ng-show="w.showVideo" ng-click="w.snapPhoto()">
        <img class="navbutton" src="graphics/webcam_button.svg">
        <p>Snap Photo</p>
      </div>
      <div ng-show="w.showCanvas" ng-click="w.submit()">
        <img class="navbutton" src="graphics/predict_button.svg" alt="">
        <p>Predict!</p>
      </div>
      <div ng-show="w.showCanvas" ng-click="w.retake()">
        <img class="navbutton" src="graphics/retake_button.svg">
        <p>Retake Photo</p>
      </div>
    </div>
  </div>

  <!-- ******* -->
  <!-- RESULTS -->
  <!-- ******* -->

  <div ng-init="results_received=false"
    ng-if="results_received"
    ng-controller="results as res">

    <div class="display result">
      <div class="rel og" id="imgcontainer">
        <img class="abs" ng-src="{{original}}" id="og">
      </div>
    </div>

    <div class="container">
      <div ng-if="res.nofaces">
        <div class="bc">
          <a href="/">
            <img class="navbutton" src="graphics/retake_button.svg">
          </a>
        </div>
        <div class="well display">
          <h1>Whoops! Emoji Brain didn't detect any faces. 😭</h1>
        </div>
      </div>
      <div ng-repeat="face in results.faces">
        <div class="well display">
          <div>
            <img class="tn" ng-src="{{face.thumbnail}}">
          </div>
          <div ng-repeat="result in face.prediction">
            <p><img class="emoji" ng-class="{'bigger': res.isBiggest(face.index,result)}" ng-src="{{result.emotion | emoji }}" alt=""></p>
            <p class="text-center">{{result.percent | percent }}%</p>
          </div>
          <div ng-if="!res.submitted[face.index]">
            <p>Looks correct?</p>
            <p class="correct text-center"><a ng-click="res.confirm(face)">👍</a> <a ng-click="res.getFeedback(face)">👎</a></p>
          </div>
          <div ng-if="res.submitted[face.index]">
            <p class="text-success">Thanks!</p>
          </div>
        </div>

        <!-- SUBMIT FEEDBACK -->
        <div class="well clearfix" ng-if="res.feedback[face.index]">
          <div class="col-md-4">
            <img ng-src="{{face.thumbnail}}">
          </div>
          <form class="col-md-4" ng-submit="res.submitFeedback(face)">
            <div class="form-group">
              <label>Please choose the most correct emotion: </label>
              <select ng-model="res.emote[face.index]" class="form-control" required>
                <option></option>
                <option value="angry">😡 Angry</option>
                <option value="fear">😨 Fear</option>
                <option value="happy">😀 Happy</option>
                <option value="sad">😢 Sad</option>
                <option value="surprise">😮 Suprise</option>
                <option value="neutral">😐 Neutral</option>
              </select>
            </div>
            <input class="btn btn-default" type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- ******* -->
  <!--  FOOTER -->
  <!-- ******* -->

  <footer>
    <div class="container">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6">
            <img class="avatar" src="graphics/little-white-brain.svg" alt="">
          </div>
          <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          <div class="col-md-6">
            <img class="avatar" src="graphics/g-school.svg" alt="">
          </div>
          <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

        </div>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <div class="row">
          <div class="col-md-5">
            <img class="avatar profile" src="https://avatars3.githubusercontent.com/u/16370085?v=3&s=460" alt="">
          </div>
          <div class="col-md-7">
            <row>
              <div class="col-md-6">
                <img class="link" src="graphics/linkedin.svg">
                <a href="https://www.linkedin.com/in/jostinefho">LinkedIn</a>
              </div>
              <div class="col-md-6">
                <img class="link" src="graphics/github.svg">
                <a href="https://github.com/JostineHo">GitHub</a>
              </div>
            </row>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="row">
          <!-- <hr> -->
          <br>
        </div>
        <div class="row">
          <div class="col-md-5">
            <img class="avatar profile" src="https://avatars1.githubusercontent.com/u/6421349?v=3&s=460" alt="">
          </div>
          <div class="col-md-7">
            <row>
              <div class="col-md-6">
                <img class="link" src="graphics/linkedin.svg">
                <a href="www.linkedin.com/in/chris-impicciche">LinkedIn</a>
              </div>
              <div class="col-md-6">
                <img class="link" src="graphics/github.svg">
                <a href="https://github.com/Peechiz">GitHub</a>
              </div>
            </row>
            <p>
              <strong>Chris Impicciche</strong> is a Full-Stack Web Developer 💻  living in Austin, TX 🌮. When he's not making webapps, chances are he's either gaming 🎮🎲 with his friends, making something tasty in the kitchen 🍪🍛, or out watching Roller Derby 💀🔥.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="http://webrtc.github.io/adapter/adapter-latest.js"></script>
</body>

</html>
